<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <a class="header-logo" href="../index.html">
        <svg width="142" height="60" class="footer-logo-svg">
          <use href="/img/company-logo.svg"></use>
        </svg>
      </a>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#home" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#mission" class="nav-link">Mission</a>
          </li>
          <li class="nav-item">
            <a href="#benefits" class="nav-link">Benefits</a>
          </li>
          <li class="nav-item">
            <a href="#assorts" class="nav-link">Assortment</a>
          </li>
          <li class="nav-item">
            <a href="#feedbacks" class="nav-link">Feedbacks</a>
          </li>
          <li class="nav-item">
            <a href="#faq" class="nav-link">FAQ</a>
          </li>
          <li class="nav-item">
            <a href="#contacts" class="nav-link">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="footer-social-links">
        <ul class="social-list-icons">
          <li>
            <a href="https://www.facebook.com/">
              <svg width="32" height="32" class="social-icon-svg">
                <use href="/img/sprite.svg#icon-Facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/">
              <svg width="32" height="32" class="social-icon-svg">
                <use href="/img/sprite.svg#icon-Instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://x.com/">
              <svg width="32" height="32" class="social-icon-svg">
                <use href="/img/sprite.svg#icon-x"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/">
              <svg width="32" height="32" class="social-icon-svg">
                <use href="/img/sprite.svg#icon-LinkedIn"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/">
              <svg width="32" height="32" class="social-icon-svg">
                <use href="/img/sprite.svg#icon-Youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-copyright">
        <p>© 2025 Organic Shop. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
