<header class="header">
  <div class="container">
    <div class="header-container">
      <a class="header-logo" href="/index.html">
        <svg width="142" height="60" class="header-logo-svg">
          <use href="/img/company-logo.svg#header-logo"></use>
        </svg>
      </a>
      <button class="burger-btn" type="button">
        <svg width="32" height="32" class="burger-icon">
          <use href="/img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <div class="mobile-tablet-menu-container">
        <div class="mobile-tablet-menu">
          <a class="header-logo" href="/index.html">
            <svg width="142" height="60" class="header-logo-svg">
              <use href="/img/company-logo.svg#header-logo"></use>
            </svg>
          </a>

          <button class="close-btn" type="button">
            <svg width="32" height="32" class="close-icon">
              <use href="/img/sprite.svg#icon-close"></use>
            </svg>
          </button>
        </div>
        <nav class="mobile-tablet-nav">
          <ul class="mobile-tablet-nav-list">
            <li class="mobile-tablet-nav-item">
              <a href="#home" class="mobile-tablet-nav-link">Home</a>
            </li>
            <li class="mobile-tablet-nav-item">
              <a href="#mission" class="mobile-tablet-nav-link">Mission</a>
            </li>
            <li class="mobile-tablet-nav-item">
              <a href="#benefits" class="mobile-tablet-nav-link">Benefits</a>
            </li>
            <li class="mobile-tablet-nav-item">
              <a href="#assorts" class="mobile-tablet-nav-link">Assortment</a>
            </li>
            <li class="mobile-tablet-nav-item">
              <a href="#feedbacks" class="mobile-tablet-nav-link">Feedbacks</a>
            </li>
            <li class="mobile-tablet-nav-item">
              <a href="#faq" class="mobile-tablet-nav-link">FAQ</a>
            </li>
            <li class="mobile-tablet-nav-item">
              <a href="#contacts" class="mobile-tablet-nav-link">Contacts</a>
            </li>
            <li class="mobile-tablet-nav-item">
              <a href="#assorts" class="mobile-tablet-nav-link">Order</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
